<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
</head>
<style>
    .box {
        background-color: black;
    }
</style>

<body style="background-color: black;">
    <div class=" header"
        style="margin:0px;width: 1900px; height:85px;background-color: slateblue; text-align:center; color:aliceblue;border-radius:3px;">
        <h1>Welcome to my playground</h1>
    </div>
    <div class="container">
        <div class="hero" style="display: flex; flex-wrap:wrap; justify-content:center; margin-top:50px; ">
            {% for i in range (0, x) %}
            <div class="box"
                style="height:200px;border-radius:5px; width:200px;;margin:15px; padding:5px;border:white 2px solid; background-color:{{ new_color };">
            </div>

            {% endfor %}
        </div>
    </div>
    </div>
</body>

</html>